@import "./variable.scss";

@import "~bootstrap/scss/bootstrap.scss";

$navbar-height : $nav-link-height + $nav-link-padding-y * 2;

.btn-theme {
  @include button-variant($gray-800, $gray-700);
}

body {
  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  background-color: #FBFBFB;
}

#app {
  overflow-y: scroll;
  height: 100%;
}

#main {
  padding-top: 1em;
}



.summary-table > tbody > tr:first-child > td,
.summary-table > tbody > tr:first-child > th {
  border: none;
}
.summary-table{
  table-layout: fixed;
}
.summary-table th{
  width: calc(100% / 3);
}
.summary-table td{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}


.block-list-table td,
.block-list-table th{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.block-list-table td:nth-child(4),
.block-list-table th:nth-child(4) {
  max-width : 10em;
}

.block-list-table td:nth-child(1),
.block-list-table th:nth-child(1) {
  text-align: left;
}

.block-list-table td:nth-child(5),
.block-list-table th:nth-child(5) {
  text-align: right;
}

.title{
  font-size: 28px;
  font-weight: bold;
}

.big-text{
  font-size: 26px;
}

.bold-number{
  font-size: 22px;
  font-weight: bold;
}

.toggle-button{
  cursor: pointer;
  user-select: none;
}
.toggle-button > i{
  font-size: 32px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid $border-color;
}

.header-status {
  padding: .375rem .75rem;
  font-size: $font-size-base;
  color: #fff;
  white-space: nowrap;
  background-color: $gray-800;
  border: 1px solid $gray-700;
  border-radius: .25rem;
}

.material-icons {
  user-select: none;
}
.material-icons.md-default {
  font-size: $font-size-base-icon;
  line-height: 1;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.copy-button {
  cursor: pointer;
}

.copy-button-container {
  display: flex;
}
.copy-button-item-data {
  max-width: calc(100% - #{$font-size-base-icon});
  flex-basis: auto;
  flex-grow: 0;
}
.copy-button-item-button {
  min-width: $font-size-base-icon;
  flex-basis: $font-size-base-icon;
  margin-left: 0.5em;
  flex-grow: 1;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: $theme-color;
}

@import "./loading.scss";
@import "./script.scss";
@import "./tooltip.scss";
@import "./datepicker_custom.scss";
@import "~material-design-icons/iconfont/material-icons.css";

