.constant{
  color: #1d5ba3;
}

.control{
  color: #7f15a5;
}

.stack{
  color: #f7b90e;
}

.splice{
  color: #f2e424;
}


.logic{
  color: #47d334;
}

.crypto{
  color: #e00d68;
}

.locktime{
  color: #6e11a0;
}
